body {
  margin: 0;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.header {
  text-align: center;
  background-color: green;
  height: 100px;
  line-height: 100px;
  color: white;
}

.fa {
  text-decoration: none;
  color: black;
}

#contents {
  text-align: center;
}

/* Table Formatting */

table {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid black;
  line-height: 30px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.highlight {
  font-style: italic;
  font-weight: bold;
}
