body {
  margin: 0;
}

footer {
  text-align: center;;
}

.header {
  text-align: center;
  background-color: green;
  height: 100px;
  line-height: 100px;
  color: white;
}

.fa {
  text-decoration: none;
  color: black;
}

#contents {
  text-align: center;
}
