@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
  margin: 0;
  text-align: center;
}

header {
  margin-bottom: 50px;
}

.banner {
  text-align: center;
  width: 50%;
  min-width: 500px;
  height: 100px;
  margin: auto;

  background-color: #c43a19;
  border-radius: 5px;
  box-shadow: 3px 3px 2px gray;
}

.title {
  line-height: 100px;
  color: white;
  font-weight: bolder;
  font-size: 2.5em;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.fa {
  text-decoration: none;
  color: black;
  padding: 5px;
}
